# Ignore node_modules directory
node_modules/

# Ignore environment-specific configuration files
.env

# Ignore log files
logs/

# Ignore npm debug log
npm-debug.log*

# Ignore any build output
build/

# Ignore any editor-specific files
.vscode/
.idea/

# Ignore any files generated during development
dist/
tmp/

